h1 {
  text-align: center;
}

body {
  background-color: #badaba;
}

button {
  margin: 10px 10px 10px 0;
  background-color: 	#f9f983;
}

select {
  background-color: 	#f9f983;
}

hr {
  margin-top: 20px;
}
