body {
  font-size: 15px;
  padding: 0;
  margin: 0 auto;
  background-color: #fcece8;
}

/*Global */
.container {
  margin:auto;
  overflow: hidden;
}

.container:after {
  content:"";
  display:block;
  clear:both;
}

aside{
  float:right;
  width: 35%;
}

article {
  float: left;
  width:63%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Header */

header {
  background-color: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 60px;
  border-bottom: #e8491d 3px solid;
  margin-bottom: 5px;
}

footer {
  background-color: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 60px;
  border-top: #e8491d 3px solid;
  overflow: hidden;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
  padding: 0 0 10px 10px;
}

#branding span {
  color: #e8491d;
}

header nav {
  float: right;
  margin-top: 10px;
}

header a:hover,
footer a:hover {
    color: #e8491d;
    font-weight: bold;
    text-decoration: none;
}

#searchInput {
  width: 100px;
  background-color: #f4f4f4;

}

.searchButton:hover {
  background-color: #e8491d;
}

/*Showcase */

.slides {
  display: block;
  opacity:1;
  position: absolute;
}
 #firstVisibleSection {
   background-image: url('images/Mommy-and-Me.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right bottom;
   background-attachment: fixed;
   padding-top: 260px;
   padding-bottom: 310px;
 }

.visibleSection {
  outline-style: none;
  position: relative;
}

#showcase {
  opacity: 1;
}

#showcase h3 {
  color: #ffffff;
  font-style: oblique;
  font-size: 35px;
  position:absolute;
  text-align: center;
  top: 25px;
  left: 70px;
}

#showcase h1 {
  color: #ffffff;
  font-style: normal;
  font-size: 55px;
  position: absolute;
  top:80px;
  left: 120px;
}

/*Blog Entries*/
.mainBlog {
  width: 87%;
  margin: auto;
  overflow: hidden;
}

.blogEntry {
  height: 580px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px grey;
  background-color: #eeeedd;
  overflow: hidden;
  border: 1px solid grey;
}

.blogEntry span {
  font-weight: bold;
}

.blogTextStyle {
  padding-left: 10px;
  text-align: left;
  overflow: auto;
}

.blogTextStyle h3{
  font-size: 25px;
  margin-top: 0;
}

.blogTextStyle h5, p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}

.opinionForm {
  background-color: #eeeedd;
  box-shadow: 5px 5px 5px grey;
  border: 1px solid grey;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.opinionForm input {
  margin-top: 20px;
  padding: 0px 10px;
  width: 20%;
}

.opinionForm fieldset {
  margin: 0 auto;
  border-style: none;
}

.opinionForm textarea {
  float:right;
  width: 70%;
  height: 150px;
  padding: 12px 20px;
  margin-top: 20px;
  box-sizing:content-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  font-family:inherit;
  line-height: 1.5;
  background-color:#fcece8;
  resize: none;
}
/*BlogCard- Personal info*/

.blogCard {
  max-height: 710px;
  margin-bottom: 20px;
  font-size: 20px;
  box-shadow: -5px 5px 5px grey;
  border: 1px solid grey;
  background-color: #eeeedd;
  padding-bottom: 10px;
}

.blogCard span {
  font-weight: bold;
  float:right;
}

table#learningTable {
  width: 100%;
  text-align: left;
  font-size: 20px;
  padding-left: 80px;
}

.blogButton {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
.blogButton:hover,
.previousButton:hover,
.nextButton:hover {
  background-color: #b8b894;
  color: black;
}

.opacity {
  opacity: 0.60;
}

.blogTextStyle {
  text-align: justify;
  padding-right: 10px;
}

/*Popular Posts*/

.blogPosts {
  border: 1px solid grey;
  box-shadow: -5px 5px 5px grey;
  background-color: #eeeedd;
  margin-bottom: 20px;
}

.blogPosts h4 {
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 0;
}

#postsList {
  margin-bottom: 20px;
}

.popularPostsContent img {
  float: left;
  margin-right: 16px;
  border-style: none;
  padding-left: 10px;
}

.popularPostsConetent li {
  display: list-item;
}

/*Blogroll*/

.otherBlogs {
  border: 1px solid grey;
  box-shadow: -5px 5px 5px grey;
  background-color: #eeeedd;
  margin-bottom: 20px;
}

.otherBlogs h4{
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 0;
}

#emailSearch {
  margin: 0 0 10px 10px;
}

.blogEmail {
  padding: 0 0 10px 10px;
}

.blogEmail a{
  font-size: 17px;

}

::placeholder {
    color: red;
    opacity: 1;
}

/*Clear Float - div*/
.clear {
  content:"";
  display: block;
  clear: both;
}

/*BestPractices section */

.bestPractices {
  text-align: center;
  padding-bottom: 25px;
  margin-top: 20px;
}

 .bestPractices h3 {
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
}

.bestPractices h3 span {
  border-bottom: solid
}

.bestPracticesText {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}

.letsGetInTouch {
  text-align: center;
  margin-top: 30px;
}

.logoImages {
  padding-top: 20px;
}

/*Footer */
.footerText {
  padding-top: 20px;
}

.previousButton,
.nextButton {
  background-color: white;
  color: black;
  text-align: center;
  font-weight: bold;
}

/* Create two columns that float next to each other*/
.footerColumnLeft {
    float: left;
    width: 90%;
    font-size: 20px;
    text-align: center;
}

.footerColumnRight {
    float: left;
    width: 10%;
}

a.backTop {
  float: right;
  color: white;
  padding-right: 10px;
}

/*the bellow code is in the header section*/
/*.backTop a:hover {
  color: #e8491d;
  font-weight: bold;
}*/

